body {
  background-color: rgb(3, 12, 54);
}

footer {
  text-align: center;
  margin-bottom: 3vh;
}
.homeWrapper {
  text-align: center;
  margin-bottom: 30vh;
}
.homeText {
  color: white;
  display: inline-block;
}
.homeText h1 {
  font-size: 8vh;
}
ul {
  display: flex;
  justify-content: center;

}
ul li {
  list-style: none;
  margin-right: 8vh;
 
}

ul li a {
  color: white;
}
/* .workAll {
  border: ;
} */
.workAll img {
  width: 40vh;
  height: 25vh;
}
.workAll p {
  color: white;
  width: 40vh;
}
.workCompGit {
  margin-top: 25vh;
  text-align: center;
  color: white;
}

.navBarWhole {
  margin-top: 5vh;
  margin-bottom: 30vh;
}
.workAppjs {
  display: flex;
  justify-content: center;
}
.workAppjsOne {
  margin-left: 7vh;
  margin-bottom: 5vh;
  text-align: center;
}
.workAppjsAll {
  margin-bottom: 15vh;
}
ion-icon {
  font-size: 8vh;
  color: white;
  margin-left: 9vh;
  margin-right: 3vh;
  
}
button {
  height: 3vh;
  width: 20vh;
}
.aboutWrapper {
  color: white;
  text-align: center;
}
.aboutDiv{
  display: inline-block;
}
.contactWrapper {
  color: white;
  text-align: center;
}
/* .contactDiv {

} */