body {
  background-color: rgb(3, 12, 54);
}

footer {
  text-align: center;
  margin-bottom: 3vh;
}
.homeWrapper {
  text-align: center;
  margin-bottom: 30vh;
}
.homeText {
  color: white;
  display: inline-block;
}
.homeText h1 {
  font-size: 10vh;
}
.homeText h2 {
  font-size: 4.5vh;
}
ul {
  display: flex;
  justify-content: center;

}
ul li {
  list-style: none;
  margin-right: 8vh;
  font-size: 2.5vh;
 
}

ul li a {
  color: white;
}
ul li a:hover {
  color: rgb(0, 174, 255);
}
/* a:hover ion-icons{
  background-color: yellow;
} */

.workAll img {
  width: 40vh;
  height: 25vh;
}
.workAll p {
  color: white;
  width: 40vh;
}
.workCompGit {
  margin-top: 15vh;
  text-align: center;
  color: white;
}
.workCompGit h2 {
  margin-left: 3vh;
}

.navBarWhole {
  margin-top: 5vh;
  margin-bottom: 18vh;
}
.workAppjs {
  display: flex;
  justify-content: center;
}
.workAppjsOne {
  margin-left: 7vh;
  margin-bottom: 10vh;
  text-align: center;
}
.workAppjsAll {
  margin-bottom: 15vh;
}
ion-icon {
  font-size: 9vh;
  color: white;
  margin-left: 3vh;
  margin-right: 0vh;
  
}
ion-icon:hover{
  color: rgb(0, 174, 255);
}
button {
  height: 8vh;
  width: 25vh;
  font-size: 2.5vh;
  font-weight: bold;
  border-radius: 10%;
  border-width: 0.6vh;
  border-color: white;
  background-color:rgb(3, 12, 54) ;
  color: white;
  margin-top: 1vh;
}
button:hover {
  background-color: rgb(0, 174, 255);
}
.aboutWrapper {
  color: white;
  text-align: center;
}
.aboutDiv{
  display: inline-block;
  margin-bottom: 8vh;
}
.contactWrapper {
  color: white;
  text-align: center;
}
/* .contactDiv {

} */
.aboutDiv h1 {
  font-size: 10vh;
}

.homeText p {
  font-size: 3vh;
}
.aboutDiv p {
  font-size: 3vh;
}

@media only screen and (max-width: 450px) {
  
  .navBarWhole {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  .homeWrapper {
    margin-top: 18vh;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  ul li {
    font-size: 3.5vh;
    margin-right: 4vh;
  }
  .homeText h2 {
    font-size: 6vh
  }
  .homeText h1 {
    font-size: 9vh;
  }
  .homeText p {
    font-size: 3.7vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
  }
  .aboutDiv h1 {
    font-size: 6vh;
  }
  .aboutDiv p {
    font-size: 3vh;
  }

  .workAppjs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .workAppjsOne {
    margin-left: 0vh;
    margin-bottom: 5vh;
    text-align: center;
  }
 
  .workAll p {
    color: white;
    width: 40vh;
    display: inline-block;
    
  }

  button {
    height: 10vh;
    width: 30vh;
    background-color: white;
    margin-bottom: 5vh;
    background-color: rgb(3, 12, 54);
    border-width: 1vh;
  }
  .contactDiv h1 {
    font-size: 7vh;
    margin-bottom: 10vh;
  }
 .footerDiv {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 ion-icon {
   font-size: 15vh;
   margin-bottom: 9vh;
 }
}
